extends base.pug 

block cssscript 
  link(rel="stylesheet", href="{{ url_for('static', filename='css/userGroups.css') }}")

block content
  div(id='userGroupsAPI')
    div(v-if="user")
      .container
        .div(v-if='userLocal')
          h1 Hello ${userLocal.nickname}
          h3 Your are current viewing the profile of 
            strong ${user.nickname}
        .div(v-else)
          h1 Hello ${user.nickname}
        .row
          h3(v-if='userLocal') Groups of ${user.nickname}
          h3(v-else) Your groups
          .row
            .groups
              template(v-for="group in groups")
                .col-sm-4.col-md-3.col-xs-6.group-post
                  a(v-bind:href="/group/ + group.id")
                    div(class="thumbnail group-thumbnail")
                      img.img-responsive.img-thumbnail.img-group(v-bind:src="'../' + group.mediaPath")                    
                      div(class='caption')
                        h4 ${group.name}
                        p.about-group(v-if="group.aboutGroup !== 'None'") ${group.aboutGroup}
                      
                
block jsscript 
  script(type="text/javascript" src="{{ url_for('static', filename='js/userGroups.js') }}")
    
                      
    
