extends base.pug 

block content
  .main.container
    h1 Edit your profile
    form(action='' method='POST' name='editProfile' enctype='multipart/form-data') #{'{{ form.hidden_tag() }}'}
      div.form-group 
        label(for='name') Name: #{'{{ form.name(size=30) }}'} 
        | #{'{% for error in form.name.errors %}'}
        span(style='color: red;') [#{' {{ error }}'}]
        | #{'{% endfor %}'} 
      div.form-group 
        label(for='aboutGroup') About group: #{'{{ form.aboutGroup(cols=50, rows=4) }}'}
      div.form-group
      div.form-group 
        input(type='file' name='file')
      button.btn.btn-primary(type='submit') Submit changes 
      
      
      
      
      
