a(href="{{ url_for('group', id=group.id) }}")
  table
    td
      img.image(src='{{ groupPath }}' width="100" height="auto")
    td
      | #{"{% autoescape false %}"}
      h4 #{'{{ group.name }}'}
      | #{" {% endautoescape %}"}
      p #{"{{ group.aboutGroup }}"}
      
        
