extends base.pug 

block content
  .main.container
    h1 Sign up
    
    form(action='' method='POST' name='login') #{'{{ form.hidden_tag() }}'}
      div.form-group 
        label(for='email') Email: #{'{{ form.email }}'}
        | #{'{% for error in form.email.errors %}'}
        span(style='color: red;') [#{' {{ error }}'}]
        | #{'{% endfor %}'} 
      div.form-group 
        label(for='pw') Password: #{'{{ form.password }}'}
        | #{'{% for error in form.password.errors %}'}
        span(style='color: red;') [#{' {{ error }}'}]
        | #{'{% endfor %}'} 
        //- formy.password
      div.form-group 
        label(for='cpw') Confirm Password: #{'{{ form.confPWD }}'}
        | #{'{% for error in form.confPWD.errors %}'}
        span(style='color: red;') [#{' {{ error }}'}]
        | #{'{% endfor %}'} 
      div.form-Group
        label(for='rememberMe') Remember me: #{'{{ form.rememberMe }}'}
        
      button.btn.btn-primary(type='submit') Sign me UP
    
  
  
  
