html
  head
    title Rodica 2.0
    script(src='/static/css/bootstrap.min.css')
    script(src='/static/js/moment.min.js')
    script(scr='/static/js/bootstrap.min.js')
  body
    h1 Test1
    div 
      div Hello! 
      a(href="{{ url_for('home') }}") Home 
      | #{'{% if g.user.is_authenticated %}'}
      | Your profile
      a(href="{{ url_for('logout') }}") Logout 
      | #{'{% else %}'}
      Login #{"{% endif %}"}
        
    | #{"{% with messages = get_flashed_messages() %} "}
    | #{'{% if messages %}'}
    | <ul>
    | #{'{% for message in messages %}'}
    |    <li>#{'{{ message }}'}</li>
    |#{'{% endfor %}'}
    </ul>
    | #{'{% endif %}'}
    | #{'{% endwith %}'}
    
    div 
      block content 
      
      
  
