extends base.pug 

block content
  .main.container
    table 
      tr
        td 
          img.image(src='{{ avatarPath }}' width="200" height="auto")
        td 
          tr
            h1 #{'{{ group.name }}'}
          | #{' {% if group.aboutGroup %}'}
          tr #{' {{ group.aboutGroup }}'}
          | #{' {% endif %}'}
      tr
        td #{'{% if g.user.isAdmin(group.id) %}'}
          a(href="{{ url_for('editGroup', id=group.id) }}") Edit this group #{'{{ group.id }}'}
          | #{'{% endif %}'}
      
