extends base.pug 

block content
  .main.container
    
    div(id='groupAPI')
      div(v-if="errors")
        template(v-for="error in errors")
          .div(class="alert alert-danger") 
            strong ${error}  
      div(v-if="confirmation")
        .div(class="alert alert-success") 
          strong ${confirmation}  
      div(v-if="group")
        .row
          .col-lg-3.col-sm-6
            img.img-thumbnail.img-responsive(:src="group.mediaPath" width="750" height="auto")
          .col-lg-2.col-sm-6
            h1 ${group.name}
            h3(v-if="group.aboutGroup !== 'None'") ${group.aboutGroup}
        .div(v-if='group.inGroup')
          .row
            .btn.btn-danger(v-if='group.inGroup' v-on:click='leaveGroupAlert()') Leave Group
            .btn.btn-primary(v-if='group.inGroup' v-on:click='addRestaurantRedirect()') Add another restaurant
            .btn.btn-primary(v-if="group.isAdmin" v-on:click='editRedirect()') Edit Group
            .btn.btn-danger(v-if="group.isAdmin" v-on:click='deleteGroupAlert()') Delete Group
          .row
            div.form-group 
              label(for='emails') Add new People to the group:
                p If you want to add multiple people, please separate the emails by comma(,) or whitespace( ). 
                textarea(v-model='emails' rows="5" cols="30" class='form-control' name='aboutMe')
                button.btn.btn-primary(v-on:click='addPeople()') Add people 
          .row
            template(v-for='restaurant in group.restaurants')
              .col-md-4.col-sm-4.col-xs-6
                  div(class="thumbnail groupThumbnail")
                    a(v-bind:href='/restaurant/ + restaurant.id')
                      div
                        img.img-responsive.img-thumbnail(v-bind:src="restaurant.mediaPath" height="300" width="auto")                    
                        div(class='caption')
                          h4 ${restaurant.name}
                          p(v-if="restaurant.aboutMe !== 'None'") ${restaurant.aboutMe}
                    div(class="bottom input-group ratingButtonGroup")
                      div(class="leftRating")
                        .btn.btn-default(class="ratingButton" v-on:click="removeRestaurant(restaurant)")
                          i(class="glyphicon glyphicon-remove")
                      div(class="rightRating")
                        template(v-for="i in 5")
                          .btn.btn-default(class="ratingButton" v-on:click="giveRating(restaurant, i)" )
                            i(v-bind:class="{ ratingClicked: restaurant.userRating >= i }" class="glyphicon glyphicon-cutlery ratingDefault" :id='restaurant.id + "," + i' )
                        
                        
         
            
          
            
block jsscript 
  script(type="text/javascript" src="{{ url_for('static', filename='js/group.js') }}")
  
      
