extends base.pug 

block content
  .container
    .div
      h1 Welcome to this site. Here are some new stuff that happened. 
      
    .div(id='home')
      .div(v-if='latestRestaurants')
        .col-lg-6.col-md-6.col-sm-6.col-xs-12 
          template(v-for='restaurant in latestRestaurants')
            div(class="thumbnail groupThumbnail")
              a(v-bind:href="'/restaurant/' + restaurant.id")
                div
                  img.img-responsive.img-thumbnail(v-bind:src="restaurant.mediaPath" height="300" width="auto")                    
                  div(class='caption')
                    h4 ${restaurant.name}
                    p(v-if="restaurant.aboutMe !== 'None'") ${restaurant.aboutMe}
                    p Added on: ${restaurant.joinDate}
        .col-lg-6.col-md-6.col-sm-6.col-xs-12 
          template(v-for='review in latestReviews')
            div(class='thumbnail' id='reviewThumbnail')
              a(v-bind:href="'/restaurant/' + review.restaurant.id")
                .col-md-3.col-sm-3.col-xs-3
                  img.img-responsive.img-thumbnail(v-bind:src="review.mediaPath" id='reviewUserImage')                    
                  h4 ${review.rating} #[i(class="glyphicon glyphicon-cutlery")]
                  p ${review.date}
                .col-md-9.col-sm-9.col-xs-9  
                  .row 
                    h3 #[strong ${review.nickname}] from #[strong ${review.restaurant.name}]
                  .row 
                    p ${review.comment}
      


block jsscript 
  script(type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}")
