extends base.pug 

block content
  div(id='userAPI')
    div(v-if="user")
      .container
        h1 Hello ${userLocal.nickname}
        .div(v-if='user.id !== userLocal.id')
          h3 Your are current viewing the profile of 
            strong ${user.nickname}
        .row 
          .col-lg-3.col-sm-6
            img.image(:src="user.avatar.mediaPath" width="200" height="auto")
          .col-lg-3.col-sm-6
            .row
              strong About: 
              .p ${user.aboutMe}
            .row(v-if="user.id === userLocal.id")
              .btn.btn-primary 
                a(href="{{ url_for('edit') }}") Edit your profile 
              .btn.btn-primary 
                a(href="{{ url_for('createGroup') }}") Create a new group 
        .row
          .col
            .groups
              h3 Groups
            template(v-for="group in user.Group")
              a(v-bind:href="/group/ + group.id" name='fasole')
                .row
                  .col-lg-3
                    img.image(v-bind:src="group.Media.mediaPath" width="200" height="auto")                    
                  .col-lg-3
                    h4 ${group.name}
                    .col 
                      p(v-if="group.aboutGroup !== 'None'") ${group.aboutGroup}
                      
                
                      
    
                      
    
