extends base.pug 

block content
  .main.container
    table 
    td 
      img.image(src='{{ mediaPath }}' width="200" height="auto")
    td 
      h1 Hello, #{'{{ user.nickname }}'}
      | #{' {% if user.aboutMe %}'}
      p #{' {{ user.aboutMe }}'}
      | #{' {% endif %}'}
      p #{' {% if user.id == g.user.id %}'}
      a(href="{{ url_for('edit') }}") Edit your profile 
      | #{' {% endif %}'}
      
      
