extends base.pug 

block content
  .main.container
    table 
      tr
        td 
          img.image(src='{{ avatarPath }}' width="200" height="auto")
        td 
          tr
            h1 Hello, #{'{{ user.nickname }}'}
          | #{' {% if user.aboutMe %}'}
          tr #{' {{ user.aboutMe }}'}
          | #{' {% endif %}'}
          | #{' {% if user.id == g.user.id %}'}
      tr
        td
          p hello 5
        td
          a(href="{{ url_for('edit') }}") Edit your profile 
        td
          a(href="{{ url_for('createGroup') }}") Create a new group 
          | #{' {% endif %} '}
          
    table(name="test")
      | #{"{% for group, groupPath in zipped %}"}
      tr
        td #{"{% include 'groupTemplate.html' %}"}
          
        | #{"{% endfor %}"}
    script.
      var ID = "{{ g.user.id }}";
      
    
    div(id='userAPI')
      .container
        .row
          .col
            .name ${user.nickname}
 
        .row
          .col
            .groups
              h3 Groups
            template(v-for="group in user.Group")
              //- hello(:name='group') 
              p ${group.id}
              a(v-bind:href="/group/ + group.id" name='fasole')
                .row
                  .col
                    img.image(v-bind:src="group.Media.mediaPath" width="200" height="auto")
                    
                    
                  .col
                    h4 ${group.name}
                    .col 
                      p ${group.aboutGroup}
                      
    
